
:root{
    --violeta: #CC058A;
    --miel: #F7E36F;
    --rosa: #F757C2;
    --cian: #3EF1F7;
    --celesteObscuro: #00A7AD;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
p, h1, h2, h3{
    font-family: 'Mukta', sans-serif;
}
header{
    width: 100vw;
    height: 10vh;
    color: var(--miel);
    background-color:var(--violeta);
    border: 1px solid var(--violeta);
    display: flex;
    align-items: center;
}
body{
    background-color: var(--celesteObscuro);
}
.header{
    margin:auto;
}
.main{
    width: 50%;
    background-color: var(--cian);
    border: 1px solid var(--miel);
    border-radius: 10px;
    box-shadow: 5px -10px 10px var(--miel);
    display:block;
    position: absolute;
    top: 25%;
    left:25%;
}
.contenedor-titulo{
    -webkit-text-stroke: 1px rgb(73, 73, 73);
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid var(--miel);
}
.contenedor-cuerpo{
    height:40vh;
    padding: 1rem;
}

.contenedor-cuerpo .button{
    height: 3rem;
    width: 8rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: var(--rosa);
    border: 2px solid var(--rosa);
    border-radius: 10px;
   
    display: block;
    position:absolute;
    transition: linear .1s;
}
.button-si{
    cursor: pointer;
    top: 50%;
    left: 25%;
}
.button-si:hover{
    
    color: black;
    background-color: transparent;
}
.button-no{
    top: 50%;
    right: 25%;
}
.mensaje{
    width: 30%;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--celesteObscuro);
    border: 1px solid var(--miel);
    border-radius: 10px;
    position:absolute;
    box-shadow: 3px -5px 10px var(--miel);
    top: 50%;
    right: 0;
    left: 0;
    margin:auto;
    padding: 2rem;
}

@media (max-width: 500px){
    .header{
        font-size: 0.6rem;
    }
    .main{
        width: 90%;
        left:0;
        right: 0;
        margin:auto;
    }
    .contenedor-cuerpo .button{
        height: 2rem;
        width: 5.6rem;
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
    }
    .button-si{
        top: 50%;
        left: 15%;
    }
    .button-no{
        top: 50%;
        right: 15%;
    }
    .mensaje{
        top: 25%;
    }

}

